ABCosmetic_app/Service References/OrderDetailService/OrderDetailService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddNew">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="orderID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="productID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddNewResult" type="tns:OrderDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OrderDetail">
        <s:complexContent mixed="false">
          <s:extension base="tns:AbstractEntity">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ProductID" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="OrderID" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AbstractEntity">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDetailsByOrderID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDetailsByOrderIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDetailsByOrderIDResult" type="tns:ArrayOfOrderDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOrderDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderDetail" nillable="true" type="tns:OrderDetail" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDailyDetails">
        <s:complexType />
      </s:element>
      <s:element name="GetDailyDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDailyDetailsResult" type="tns:ArrayOfOrderDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWeeklyDetails">
        <s:complexType />
      </s:element>
      <s:element name="GetWeeklyDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWeeklyDetailsResult" type="tns:ArrayOfOrderDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDailyDetailsForAStaff">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="staffID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDailyDetailsForAStaffResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDailyDetailsForAStaffResult" type="tns:ArrayOfOrderDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWeeklyDetailsForAStaff">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="staffID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWeeklyDetailsForAStaffResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWeeklyDetailsForAStaffResult" type="tns:ArrayOfOrderDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDailyDetailsForAStore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDailyDetailsForAStoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDailyDetailsForAStoreResult" type="tns:ArrayOfOrderDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWeeklyDetailsForAStore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetWeeklyDetailsForAStoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWeeklyDetailsForAStoreResult" type="tns:ArrayOfOrderDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="All">
        <s:complexType />
      </s:element>
      <s:element name="AllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AllResult" type="tns:ArrayOfOrderDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetByIDResult" type="tns:OrderDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchByNameResult" type="tns:ArrayOfOrderDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddNewSoapIn">
    <wsdl:part name="parameters" element="tns:AddNew" />
  </wsdl:message>
  <wsdl:message name="AddNewSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewResponse" />
  </wsdl:message>
  <wsdl:message name="GetDetailsByOrderIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetDetailsByOrderID" />
  </wsdl:message>
  <wsdl:message name="GetDetailsByOrderIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetDetailsByOrderIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetDailyDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDailyDetails" />
  </wsdl:message>
  <wsdl:message name="GetDailyDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDailyDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetWeeklyDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetWeeklyDetails" />
  </wsdl:message>
  <wsdl:message name="GetWeeklyDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetWeeklyDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDailyDetailsForAStaffSoapIn">
    <wsdl:part name="parameters" element="tns:GetDailyDetailsForAStaff" />
  </wsdl:message>
  <wsdl:message name="GetDailyDetailsForAStaffSoapOut">
    <wsdl:part name="parameters" element="tns:GetDailyDetailsForAStaffResponse" />
  </wsdl:message>
  <wsdl:message name="GetWeeklyDetailsForAStaffSoapIn">
    <wsdl:part name="parameters" element="tns:GetWeeklyDetailsForAStaff" />
  </wsdl:message>
  <wsdl:message name="GetWeeklyDetailsForAStaffSoapOut">
    <wsdl:part name="parameters" element="tns:GetWeeklyDetailsForAStaffResponse" />
  </wsdl:message>
  <wsdl:message name="GetDailyDetailsForAStoreSoapIn">
    <wsdl:part name="parameters" element="tns:GetDailyDetailsForAStore" />
  </wsdl:message>
  <wsdl:message name="GetDailyDetailsForAStoreSoapOut">
    <wsdl:part name="parameters" element="tns:GetDailyDetailsForAStoreResponse" />
  </wsdl:message>
  <wsdl:message name="GetWeeklyDetailsForAStoreSoapIn">
    <wsdl:part name="parameters" element="tns:GetWeeklyDetailsForAStore" />
  </wsdl:message>
  <wsdl:message name="GetWeeklyDetailsForAStoreSoapOut">
    <wsdl:part name="parameters" element="tns:GetWeeklyDetailsForAStoreResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="AllSoapIn">
    <wsdl:part name="parameters" element="tns:All" />
  </wsdl:message>
  <wsdl:message name="AllSoapOut">
    <wsdl:part name="parameters" element="tns:AllResponse" />
  </wsdl:message>
  <wsdl:message name="GetByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetByID" />
  </wsdl:message>
  <wsdl:message name="GetByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetByIDResponse" />
  </wsdl:message>
  <wsdl:message name="SearchByNameSoapIn">
    <wsdl:part name="parameters" element="tns:SearchByName" />
  </wsdl:message>
  <wsdl:message name="SearchByNameSoapOut">
    <wsdl:part name="parameters" element="tns:SearchByNameResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="OrderDetailServiceSoap">
    <wsdl:operation name="AddNew">
      <wsdl:input message="tns:AddNewSoapIn" />
      <wsdl:output message="tns:AddNewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDetailsByOrderID">
      <wsdl:input message="tns:GetDetailsByOrderIDSoapIn" />
      <wsdl:output message="tns:GetDetailsByOrderIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDailyDetails">
      <wsdl:input message="tns:GetDailyDetailsSoapIn" />
      <wsdl:output message="tns:GetDailyDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWeeklyDetails">
      <wsdl:input message="tns:GetWeeklyDetailsSoapIn" />
      <wsdl:output message="tns:GetWeeklyDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDailyDetailsForAStaff">
      <wsdl:input message="tns:GetDailyDetailsForAStaffSoapIn" />
      <wsdl:output message="tns:GetDailyDetailsForAStaffSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWeeklyDetailsForAStaff">
      <wsdl:input message="tns:GetWeeklyDetailsForAStaffSoapIn" />
      <wsdl:output message="tns:GetWeeklyDetailsForAStaffSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDailyDetailsForAStore">
      <wsdl:input message="tns:GetDailyDetailsForAStoreSoapIn" />
      <wsdl:output message="tns:GetDailyDetailsForAStoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWeeklyDetailsForAStore">
      <wsdl:input message="tns:GetWeeklyDetailsForAStoreSoapIn" />
      <wsdl:output message="tns:GetWeeklyDetailsForAStoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="All">
      <wsdl:input message="tns:AllSoapIn" />
      <wsdl:output message="tns:AllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetByID">
      <wsdl:input message="tns:GetByIDSoapIn" />
      <wsdl:output message="tns:GetByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchByName">
      <wsdl:input message="tns:SearchByNameSoapIn" />
      <wsdl:output message="tns:SearchByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderDetailServiceSoap" type="tns:OrderDetailServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNew">
      <soap:operation soapAction="http://tempuri.org/AddNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetailsByOrderID">
      <soap:operation soapAction="http://tempuri.org/GetDetailsByOrderID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDailyDetails">
      <soap:operation soapAction="http://tempuri.org/GetDailyDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeeklyDetails">
      <soap:operation soapAction="http://tempuri.org/GetWeeklyDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDailyDetailsForAStaff">
      <soap:operation soapAction="http://tempuri.org/GetDailyDetailsForAStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeeklyDetailsForAStaff">
      <soap:operation soapAction="http://tempuri.org/GetWeeklyDetailsForAStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDailyDetailsForAStore">
      <soap:operation soapAction="http://tempuri.org/GetDailyDetailsForAStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeeklyDetailsForAStore">
      <soap:operation soapAction="http://tempuri.org/GetWeeklyDetailsForAStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="All">
      <soap:operation soapAction="http://tempuri.org/All" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByID">
      <soap:operation soapAction="http://tempuri.org/GetByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByName">
      <soap:operation soapAction="http://tempuri.org/SearchByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OrderDetailServiceSoap12" type="tns:OrderDetailServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNew">
      <soap12:operation soapAction="http://tempuri.org/AddNew" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetailsByOrderID">
      <soap12:operation soapAction="http://tempuri.org/GetDetailsByOrderID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDailyDetails">
      <soap12:operation soapAction="http://tempuri.org/GetDailyDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeeklyDetails">
      <soap12:operation soapAction="http://tempuri.org/GetWeeklyDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDailyDetailsForAStaff">
      <soap12:operation soapAction="http://tempuri.org/GetDailyDetailsForAStaff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeeklyDetailsForAStaff">
      <soap12:operation soapAction="http://tempuri.org/GetWeeklyDetailsForAStaff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDailyDetailsForAStore">
      <soap12:operation soapAction="http://tempuri.org/GetDailyDetailsForAStore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeeklyDetailsForAStore">
      <soap12:operation soapAction="http://tempuri.org/GetWeeklyDetailsForAStore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="All">
      <soap12:operation soapAction="http://tempuri.org/All" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByID">
      <soap12:operation soapAction="http://tempuri.org/GetByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByName">
      <soap12:operation soapAction="http://tempuri.org/SearchByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderDetailService">
    <wsdl:port name="OrderDetailServiceSoap" binding="tns:OrderDetailServiceSoap">
      <soap:address location="http://localhost:50962/Services/OrderDetailService.asmx" />
    </wsdl:port>
    <wsdl:port name="OrderDetailServiceSoap12" binding="tns:OrderDetailServiceSoap12">
      <soap12:address location="http://localhost:50962/Services/OrderDetailService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>